.btn-warning{
    color: #663300;
}

.btn-primary:focus,
.btn-primary.focus{
    background-color: #337ab7;
}

.btn-primary:hover{
    background-color: #539ad7;
}

.btn-primary:active,
.btn-primary.active{
    background-color: #135a97;
}

.btn-3d, .btn-toggle{
    border-style: outset;
    border-color: grey;
    border-width: 2px;
    outline:0;
    width:  100%;
}
/*.btn-toggle, .btn-toggle{
    border-style: outset;
    border-color: grey;
    border-width: 2px;
    outline:0;
}*/

.btn-3d.active, .btn-toggle:active{
    border-style: inset;
    border-color: grey;
    border-width: 2px 3px;
    outline:0;
}

/*.btn-toggle.active, .btn-toggle:active{
    border-style: inset;
    border-color: grey;
    border-width: 2px 3px;
    outline:0;
}*/

.container{
    line-height: 1.42857143;
    color: #333;
    width: 80%;
    height:100%;
}

.headSlide h1, 
.headSlide h2 {
    border-bottom: 11px solid #2da2c8;
    font-family: "Arial", sans-serif, "swiss";
    color: #313338;  
    font-weight: 700;
    line-height: 57px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.headSlide h3{
    border-bottom: 5px solid #2da2c8;
    font-family: 'Verdana', sans-serif, "Monospace";
    text-align: left;
}

.bodySlide {
    padding-top: 20px;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 1.42857143;
    color: #666;  
}

.bodySlide li{
    text-align : justify;
    font-size: 0.9em;
}

.bodySlide p{
    text-align : justify;
}

.bodySlide h3{
    font-weight: bold;
    font-size: 1.2em;
}

.bodySlide h4{
    font-weight: bold;
    font-size: 1em;
}

.bodySlide h5{
    font-weight: bold;
    font-size: 0.8em;
}

.bodySlide table, .iocSolution table{
    font-size: 0.8em;
    margin: 0 auto;
}

.bodySlide th, .iocSolution th{
    font-weight: bold;
    background-color: #eee;
    padding: 1px;
    text-align: center;
}

.bodySlide td,
.bodySlide th,
.iocSolution td,
.iocSolution th{
    padding: 0 5px;
}

.left th,
.left td{
    text-align: left;
}

.bodySlide .jssorTitle{
    font-family: "Arial", sans-serif, "swiss";
    font-size: 3.5em;
    text-align: center;
    padding-top: 60px;
}

.bodySlide .iocimportant{
    font-family: Georgia,"Times New Roman",serif;
    color: #080000;
    clear: both !important;
    width: 90%;
    background-color: #ccc;
    padding: 10px;
    margin: 1em auto;
    font-size: 0.95em;
  }

  @keyframes centerSlide {
    0%  {
        transform:translateX(100%);
    }
    50% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
   }
   
  @-moz-keyframes centerSlide {
    0%  {
        transform:translateX(100%);
    }
    50% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
   }
   
  @-webkit-keyframes centerSlide {
    0%  {
        transform:translateX(100%);
    }
    50% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
   }
   
  .marquee.centerSlide{
    width: 80%;
    overflow: hidden;
    position: relative;
    text-align: center;
    animation-name:centerSlide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name:centerSlide;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:centerSlide;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    /*white-space: nowrap;*/
  }
  
  .iocwarning{
      color: #408080;
  }
  

.ioctextl,.iocexample,.iocquote {
        clear: left; 
        overflow: hidden;
    }
    
.iocexample .ioccontent,
.iocexample.single {
    clear: both !important;
    width: 80%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 18px;
    margin: 1em auto;
    font-size: 75%;
    font-family: sans-serif;
    margin-bottom: 2em !important;
}

.iocexample.small .ioccontent,
.iocexample.small.single {
    font-size: 70%;
}

.iocexample.em{
    background: #f8f8f8;
}

.em{
    background: #eee;
}

.iocexample li{
    font-size: 1em;
}

.iocexample .ioccontent p.ioctitle,
.ioctextl .ioccontent p.ioctitle {
    font-size: 90%;
    font-weight: bold;
    width: 80%;
    margin: 1em auto;
}

.iocexample p.ioctitle{
    font-size: 90%;
    font-weight: bold;
    width: 80%;
    margin: 1em auto;
}

.ioctext p,
.ioctextl p,
.iocquote p,
.iocexample p,
.iocimportant p,
.iocreference p,
.iocnote p {
    margin-bottom: 0.5em;    
}

.iocClue img, .ioctextl img,.iocexample img {
    max-width: 90%;
}

.iocnote {
    width:300px;
    height:800px;
    padding:10px;
    margin-left:-300px;
    float: left;
    max-width: 300px;
}

.iocnoteOpener{
    float:right;
    margin: 0px -90px 0px 0px;
    border-radius:0;
    opacity:1;
    width:30px;
    height:40px;
    position: relative;
}

.iocnoteSlidePane{
    position: absolute;
/*    z-index: 10;*/
    border-radius:10px;
    border-color: #2da2c8;
    border-bottom-width: 4px;
    border-style: solid;
    right: 0px;
    top: 50px;
    padding: 3px;
    background: #d0eded;
    opacity:0;
    font-size: 12px;  
    width: 700%;
    text-align: justify;
}

#svgContainerId{
    position: fixed;
    overflow: visible;
    top: 0px;
    /*left: -100px;*/
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
}

#pathId{
   
}

.iocModalSolution .modal-header{
      background: #3CB3E7;
}

.iocModalSolution .modal-dialog,
.iocModalAdvice  .modal-dialog{
      width: 80%;
}

.iocModalSolution .modal-body,
.iocModalAdvice .modal-body{
    max-height: 600px;
    overflow: auto;
}

.iocModalSolution,
.iocModalAdvice {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;  
}


.iocModalAdvice .modal-body{
      background: #FAEEE1;
      border: 1px solid #999;
}

.iocModalAdvice .modal-footer{
      background: #FFB266;
      border: 1px solid #999;
}

.iocModalAdvice .modal-header{
      background: #CC6600;
      border: 1px solid #999;
}

.iocModalAdvice .modal-header h1,
.iocModalAdvice .modal-header h2,
.iocModalAdvice .modal-header h3,
.iocModalAdvice .modal-header h4,
.iocModalAdvice .modal-header h5,
.iocModalAdvice .modal-header h6{
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.7em;
}


.iocModal{
    background: rgba(0,0,0,.5);
    z-index: 9000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.iocAdvice{
    font-family: Verdana,"Times New Roman",serif;
    padding: 15px;
    width: 100%;
    overflow: auto;    
}

.iocSolution{
}

.iocClue{
    font-family: Verdana,"Times New Roman",serif;
    color: #1C335C;
    padding: 10px 10% 40px 5%;
    border: 1px solid #999;
    /*width: 92%;*/
    height: 98%;
    overflow: auto;
    font-size: 1.25em;
    text-align: justify;
}

.iocClue h2{
    color: #080F8E;
    font-size: 2em;
    font-weight: 1.5em;
    text-align: center;
}

/*
.iocClue p{
    font-weight: 1em;
    text-align: justify;
}
*/

figure{
    clear: right;
    text-align: center;
    margin-bottom: 10px;   
}

figure.left{
    position: relative; 
    top: 0px; 
    left: 0px; 
    float:left;
    margin-right:20px;
    text-align: left;
}

.figscope{
    counter-increment: cfigure;
}

figcaption {
    display: block;
    margin: 0 auto 0.1em;
    font-size: 0.8em;
    padding-top: 5px;
}

figcaption .figuretitle {
    font-weight: bold;
}

.figscope .figuretitle:after {
    content: " "counter(cfigure) ". ";
}

.figscope .figref:after {
    content: " "counter(cfigure);
}

.footfigure {
    margin: -0.7em auto 0;
    text-align: right;
}

.tablescope{
    counter-increment: ctable;
}

.tablescope caption {
    caption-side: bottom;
    padding-top: 5px;
}

caption .tabletitle {
    font-weight: bold;
}

.tablescope .tabletitle:after {
    content: " "counter(ctable) ". ";
}

.tablescope .tableref:after {
    content: " "counter(ctable);
}

.foottable {
    margin: -0.7em auto 0;
    text-align: right;
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol.nestedCounter ol > li {
    display: block;
}

ol.nestedCounter ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}

.vsections{
    counter-reset: debat;
    counter-reset: tasca;
    counter-reset: cfigure;
    counter-reset: ctable;
}

section.debat,
.debat.section{
    counter-increment: debat;
}

section.tasca,
.tasca.section{
    counter-increment: tasca;
}

.debat .debatTitle:after{
     content: " "counter(debat);
}

.tasca .tascaTitle:after{
     content: " "counter(tasca);
}

#sidepanel-wrapper hr{
    border-color: #999 -moz-use-text-color -moz-use-text-color;
    border-width: 1px 0px 0px;
        
}

.tooltip-inner{
    max-width: 820px;
    color: #fff;
    font-family: Arial, "Curier New", Verdana;
}

.vertical-text{
  height: 140px;
  white-space: nowrap;   
}

.vertical-text > div{
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    writing-mode: lr-tb;    
}

.tab{
    padding-left: 5em;
}

.minFont, table.minFont{
    font-size: 0.65em;
}

.frameBox li{
    font-size: 1em;
}

.frameBox{
    margin: 1em auto;
    border: 1px solid #888;
    padding: 15px;
    background: #eee;
}

.frameBoxHeader{
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.smallFont{
    font-size: 75%;
}

div.box{
    border: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    padding-bottom:2%;
    font-family: 'Verdana', sans-serif, "Monospace";
    font-size:0.9em;
}

.box div.inbox{
    border: 1px solid black;
    left: 10px;
    top: 10px;
    transform: translate(10px, 10px);   
    -webkit-transform: translate(10px, 10px); 
    width:90%;
    padding-left: 5px;
    padding-bottom:2%;
    font-family: 'Verdana', sans-serif, "Monospace";
}
